/* Development */
/* section, div {
  border: 1px dotted black;
} */

/* Resets */

/* General */
body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  place-items: center;
}

.dark {
  background-color: #212121;
  color: white;
}

.parent {
  display: grid;
  grid-template-columns: minmax(280px, 25%) 1fr;
  width: 1000px;
}

.detail-heading {
  border-bottom: 3px solid black;
  text-shadow: lightgrey 2px 2px;
}

.bold {
  font-weight: bold;
}

.light-bold {
  font-weight: 600;
}

/* FONT SIZES */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.date-text {
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
  color: #2c2c2c;
}

/* INTRO PANE */
.intro-entry {
  margin: 40px 0px;
}

#intro-pane {
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 5px;
}

#intro-info {
  position: fixed;
  width: 245px;
  z-index: 1;
}

#photo-and-name {
  display: grid;
  grid-template-rows: 260px 50px 50px;
  place-items: center;
  margin-top: 0px;
}

#profile-pic {
  width: 90%;
}

.contact-entry {
  margin: 5px;
}

.contact-entry p {
  margin: 2px;
}

/* DETAILS PANE */
.detail-entry {
  margin: 20px 0px;
  background-color: #2121210e;
  padding: 10px;
  border-radius: 5px;
}

.detail-entry h4,p {
  margin: 2px;
}

/* SKILLS */
.skill {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 5px 0px;
  border: 5px solid white;
}

.skill-bar {
  background-color: lightgrey;
}

.skill-progress {
  background-color: #212121;
  height: 80%;
}

.sr-20 {
  width: 20%;
}

.sr-40 {
  width: 40%;
}

.sr-60 {
  width: 60%;
}

.sr-80 {
  width: 80%;
}

.sr-100 {
  width: 100%
}

/* LANGUAGE */
#languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* HOBBIES AND INTERESTS */
#hobbies-and-interests {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hobby-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}