/* GLOBAL VARS */
:root {
  --space: 10px;

  --main-colr-dark: #313030;
  --main-colr-light: white;

  --accent-colr-dark: #2121210e;
  --accent-colr-light: white;

  --text-colr-dark: black;
  --text-colr-light: white;
}

/* DEVELOPMENT */
/* section, div, footer, header {
  border: 1px dotted black;
} */

/* RESETS */
* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}

/* GENERAL */
body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  place-items: center;
  padding: 10px;
}

.dark {
  background-color: var(--main-colr-dark);
  color: var(--text-colr-light);
}

.parent {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 30px 0px;
}

.bold {
  font-weight: bold;
}

.light-bold {
  font-weight: 600;
}

hr {
  border-bottom: 2px solid var(--main-colr-light);
  margin: 20px 10px;
}

/* FONT STYLES */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--text-colr-light);
}

.date-text {
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.hashtag {
  font-weight: 500;
}

/* INTRO PANE */
.intro-entry {
  width: 100%;
  margin: 20px 0px;
}

#intro-pane {
  align-self: flex-start;

  margin-right: 10px;

  padding: 10px;
  border-radius: 5px;

  --offset: var(--space);
  position: sticky;
  top: var(--offset);

}

#intro-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

#photo-and-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

#profile-pic {
  margin-bottom: 20px;
  max-height: 400px;
  max-width: 400px;
  width: 80%;
}

.contact-entry {
  margin: 20px 0px;

  width: 100%;
}

.contact-entry p {
  margin: 2px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

/* DETAILS PANE */
.detail-heading {
  border-bottom: 3px solid var(--text-colr-dark);
  text-shadow: lightgrey 2px 2px;
  margin: 20px 0px;
}

.detail-entry {
  margin: 20px 0px;
  background-color: var(--accent-colr-dark);

  padding: 10px;
  border-radius: 5px;
}

.detail-entry p {
  margin: 2px;
}

.detail-entry h4 {
  margin: 5px;
}

/* SKILLS */
.skill {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 10px 0px;
}

.skill-bar {
  background-color: var(--accent-colr-dark);
}

.skill-progress {
  background-color: var(--main-colr-dark);

  height: 80%;
}

.sr-20 {
  width: 20%;
}

.sr-40 {
  width: 40%;
}

.sr-60 {
  width: 60%;
}

.sr-80 {
  width: 80%;
}

.sr-90 {
  width: 90%;
}

.sr-100 {
  width: 100%
}

/* LANGUAGE */
#languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* HOBBIES AND INTERESTS */
#hobbies-and-interests {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hobby-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-top: 20px;
}

.hobby-icon {
  display: grid;
  place-items: center;
  text-align: center;

  background-color: var(--accent-colr-dark);
  border-radius: 5px;

  height: 90px;
  width: 100px;
}

.hobby-icon p {
  font-size: 12px;
  margin-top: 10px;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 950px) {
  /* Mobile phones */
  .parent {
    display: flex;
    flex-direction: column;
  }

  #intro-pane {
    position: unset;
    align-self: unset;
  }

  .intro-entry {
    text-align: center;
  }
}
